body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f0f0f0; /* 淡灰色 */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background-image {
    background-image: url('image/MSD.jpg');
    background-position: center;
    background-size: cover;
    flex: 2; /* 占据上三分之二的空间 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.workbook-title {
    flex: 1; /* 占据下三分之一的空间 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

h1 {
    text-decoration: underline;
}
